# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.moc

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# LLVM intermediate files
*.asm
*.s
*.bc

# Executables
*.exe
*.out
*.app

# Temporary files
tmp/**
build/**
*.pyc
.DS_Store
*.csv
*.kate-swp

# Temporary tex files
*.log
*.aux
*.pdf
*.synctex.*
*.toc
*.bbl
*.blg
*.fls
*.fdb_latexmk
*.lof
*.lol
*.lot
*.lyx~

*.pdf
!figures/pyworkflow.pdf
!figures/strategies_shortest_path.pdf
!figures/strategies_avoid_walls.pdf
!figures/strategies_skeleton.pdf
!figures/strategies_configspace.pdf
